# History files
.Rhistory
.Rapp.history

# Example code in package build process
*-Ex.R

# RStudio files
.Rproj.user/

# produced vignettes
vignettes/*.html
vignettes/*.pdf

.DS_Store

# Ignore data files
#"UCI HAR Dataset/" # not working
UCI\ HAR\ Dataset/
